{{> headerDark header=header links=links ad=ad}}

<main class="main">
  {{#with hero}}
  <div class="messages">
    <h1 class="message_title"> {{title}} </h1>

    <div class="description">
      <strong class="msg_name"> {{description}} </strong>
    </div>

    {{#with button }}
    <div class="main_button_position">
      <a href=" {{url}} " class="main_button"> {{text}} </a>
    </div>
    {{/with}}
  </div>
  {{/with}}

</main>

<divAbout class="divAbout">
  {{#with about}}
  <h2 class="about_heading"> {{heading}} </h2>
  <p class="about_info"> {{info}} </p>
  {{/with}}
</divAbout>

<divArticles class="divArticles">
  <divArtHeader class="divArtHeader">
    <div class="about_articles">Our Articles</div>
    <a class="viewAll"> View All </a>
  </divArtHeader>

  {{> articleCardDark articles=articles}}
</divArticles>

<footer>
  {{> footerDark footer=footer pages=pages}}
</footer>